body{
    background-color: white;
}

.welcome{
    text-align: center;
    opacity: 1;
    font-family: "adobe-clean", sans-serif;
}

.button{
    font-family: sans-serif;
    font-size: x-large;
}

.table{
    margin-left: 17%;
    position: absolute;
    top: 150px;
}
    
table th,tr{
    background-color: rgb(246, 243, 243);
    text-align: center;
    padding: 8px;
}