body{
    background-color: white;
}

.welcome{
    background-color: cornflowerblue;
    text-align: center;
    opacity: 1;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
    height: 20px;
    margin-right: 7px;
}

.button{
    display: flex;
    align-items: center;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    outline: auto;
    color: white;
    margin: 27px;
    background-color: cornflowerblue;
}

.table {
    display: flex;
    margin-left: 51px;
    position: absolute;
    top: 150px;
    padding: 16px;
    color: darkviolet;
}
    
table th,tr{
    background-color: rgb(246, 243, 243);
    text-align: center;
    padding: 8px;
}